AES.UniversalBank.Portal.BusinessLogic.Impl/Service References/PaymentsService/PaymentsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.universalbank.com/aes/services" elementFormDefault="qualified" targetNamespace="http://www.universalbank.com/aes/services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:45323/PaymentsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AES.UniversalBank.Common.Entities" />
  <xs:element name="GetCustomerPayments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerPaymentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AES.UniversalBank.Common.Entities" minOccurs="0" name="GetCustomerPaymentsResult" nillable="true" type="q1:ArrayOfPayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AES.UniversalBank.Common.Entities" minOccurs="0" name="GetPaymentResult" nillable="true" type="q2:Payment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AES.UniversalBank.Common.Entities" minOccurs="0" name="payment" nillable="true" type="q3:Payment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePaymentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AES.UniversalBank.Common.Entities" minOccurs="0" name="GetPaymentRecordsResult" nillable="true" type="q4:ArrayOfPaymentRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>