AES.UniversalBank.Messaging.Broker.Impl/Service References/BizTalkServiceReference/AccountInfoBroker.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.universalbank.com/aes/broker/schemas" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.universalbank.com/aes/broker/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <b:schemaInfo root_reference="AccountList" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
    </xs:appinfo>
  </xs:annotation>
  <xs:element name="AccountType">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Savings" />
        <xs:enumeration value="Checking" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Account">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Id" type="xs:string" />
        <xs:element name="Type" type="AccountType" />
        <xs:element name="BalanceValue" nillable="true" type="xs:decimal" />
        <xs:element name="BalanceDate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="AccountType">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:element name="AccountList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>