AES.UniversalBank.Messaging.Broker.Impl/Service References/BizTalkServiceReference/AccountInfoBroker31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.universalbank.com/aes/broker/schemas" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.universalbank.com/aes/broker/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <b:schemaInfo root_reference="LoanList" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
    </xs:appinfo>
  </xs:annotation>
  <xs:element name="Loan">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Id" type="xs:string" />
        <xs:element name="StartDate" type="xs:dateTime" />
        <xs:element name="Payoff" type="xs:int" />
        <xs:element name="PaymentCount" type="xs:int" />
        <xs:element name="PaymentValue" type="xs:decimal" />
        <xs:element name="NextPaymentValue" nillable="true" type="xs:decimal" />
        <xs:element name="TotalPaymentValue" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoanList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Loan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>