AES.UniversalBank.Messaging.Broker.Impl/Service References/BizTalkServiceReference/AccountInfoBroker1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.universalbank.com/aes/broker/schemas" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" targetNamespace="http://www.universalbank.com/aes/broker/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Customer">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Name" type="xs:string" />
        <xs:element name="Email" type="xs:string" />
        <xs:element name="Address" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>