AES.UniversalBank.Messaging.Broker.Impl/Service References/BizTalkServiceReference/BizTalkServiceInstance.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.universalbank.com/aes/broker" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BizTalkServiceInstance" targetNamespace="http://www.universalbank.com/aes/broker" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <CreationInfo Created="2014-11-30 21:32:01Z" />
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.universalbank.com/aes/broker/Imports">
      <xsd:import schemaLocation="http://aesbts:80/UniversalBankBizTalkBrokerService/AccountInfoBroker.svc?xsd=xsd2" namespace="http://www.universalbank.com/aes/broker/schemas" />
      <xsd:import schemaLocation="http://aesbts:80/UniversalBankBizTalkBrokerService/AccountInfoBroker.svc?xsd=xsd3" namespace="http://www.universalbank.com/aes/broker/schemas" />
      <xsd:import schemaLocation="http://aesbts:80/UniversalBankBizTalkBrokerService/AccountInfoBroker.svc?xsd=xsd4" namespace="http://www.universalbank.com/aes/broker/schemas" />
      <xsd:import schemaLocation="http://aesbts:80/UniversalBankBizTalkBrokerService/AccountInfoBroker.svc?xsd=xsd5" namespace="http://www.universalbank.com/aes/broker/schemas" />
      <xsd:import schemaLocation="http://aesbts:80/UniversalBankBizTalkBrokerService/AccountInfoBroker.svc?xsd=xsd6" namespace="http://www.universalbank.com/aes/broker/schemas" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AccountInfoBroker_GetCustomerProfile_InputMessage">
    <wsdl:part xmlns:q1="http://www.universalbank.com/aes/broker/schemas" name="part" element="q1:AccountInfoRequest" />
  </wsdl:message>
  <wsdl:message name="AccountInfoBroker_GetCustomerProfile_OutputMessage">
    <wsdl:part xmlns:q2="http://www.universalbank.com/aes/broker/schemas" name="part" element="q2:Customer" />
  </wsdl:message>
  <wsdl:message name="AccountInfoBroker_GetCustomerAccounts_InputMessage">
    <wsdl:part xmlns:q3="http://www.universalbank.com/aes/broker/schemas" name="part" element="q3:AccountInfoRequest" />
  </wsdl:message>
  <wsdl:message name="AccountInfoBroker_GetCustomerAccounts_OutputMessage">
    <wsdl:part xmlns:q4="http://www.universalbank.com/aes/broker/schemas" name="part" element="q4:AccountList" />
  </wsdl:message>
  <wsdl:message name="AccountInfoBroker_GetCustomerPayments_InputMessage">
    <wsdl:part xmlns:q5="http://www.universalbank.com/aes/broker/schemas" name="part" element="q5:AccountInfoRequest" />
  </wsdl:message>
  <wsdl:message name="AccountInfoBroker_GetCustomerPayments_OutputMessage">
    <wsdl:part xmlns:q6="http://www.universalbank.com/aes/broker/schemas" name="part" element="q6:PaymentList" />
  </wsdl:message>
  <wsdl:message name="AccountInfoBroker_GetCustomerLoans_InputMessage">
    <wsdl:part xmlns:q7="http://www.universalbank.com/aes/broker/schemas" name="part" element="q7:AccountInfoRequest" />
  </wsdl:message>
  <wsdl:message name="AccountInfoBroker_GetCustomerLoans_OutputMessage">
    <wsdl:part xmlns:q8="http://www.universalbank.com/aes/broker/schemas" name="part" element="q8:LoanList" />
  </wsdl:message>
  <wsdl:portType name="AccountInfoBroker">
    <wsdl:documentation />
    <wsdl:operation name="GetCustomerProfile">
      <wsdl:documentation />
      <wsdl:input message="tns:AccountInfoBroker_GetCustomerProfile_InputMessage" />
      <wsdl:output message="tns:AccountInfoBroker_GetCustomerProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerAccounts">
      <wsdl:documentation />
      <wsdl:input message="tns:AccountInfoBroker_GetCustomerAccounts_InputMessage" />
      <wsdl:output message="tns:AccountInfoBroker_GetCustomerAccounts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerPayments">
      <wsdl:documentation />
      <wsdl:input message="tns:AccountInfoBroker_GetCustomerPayments_InputMessage" />
      <wsdl:output message="tns:AccountInfoBroker_GetCustomerPayments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerLoans">
      <wsdl:documentation />
      <wsdl:input message="tns:AccountInfoBroker_GetCustomerLoans_InputMessage" />
      <wsdl:output message="tns:AccountInfoBroker_GetCustomerLoans_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITwoWayAsync" type="tns:AccountInfoBroker">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustomerProfile">
      <wsdl:documentation />
      <soap:operation soapAction="GetCustomerProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerAccounts">
      <wsdl:documentation />
      <soap:operation soapAction="GetCustomerAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerPayments">
      <wsdl:documentation />
      <soap:operation soapAction="GetCustomerPayments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerLoans">
      <wsdl:documentation />
      <soap:operation soapAction="GetCustomerLoans" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BizTalkServiceInstance">
    <wsdl:port name="BasicHttpBinding_ITwoWayAsync" binding="tns:BasicHttpBinding_ITwoWayAsync">
      <soap:address location="http://aesbts/UniversalBankBizTalkBrokerService/AccountInfoBroker.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>