AES.UniversalBank.Messaging.BrokerProcess/Web References/LoanService/Reference.xsd

<?xml version="1.0"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AES.UniversalBank.Common.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AES.UniversalBank.Common.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ArrayOfLoan" nillable="true" type="tns:ArrayOfLoan" />
  <xs:complexType name="ArrayOfLoan">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Loan" nillable="true" type="tns:Loan" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Loan">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NextPaymentValue" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="PaymentCount" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="PaymentValue" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="Payoff" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="TotalPaymentValue" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Loan" nillable="true" type="tns:Loan" />
</xs:schema>