AES.UniversalBank.Messaging.BrokerProcess/Web References/CustomerService/Reference.xsd

<?xml version="1.0"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AES.UniversalBankCRM" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AES.UniversalBankCRM" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>